<ion-view view-title="Profile">
  <ion-content ng-controller="UserCtrl as user" ng-init="user.init()">
  <h1 class="text-center">{{user.data.firstName}} {{user.data.lastName}}</h1>
  <form ng-controller="ImagesCtrl as images" ng-submit="user.edit.submit()">
      <label class="item item-input">
          <span class="input-label">Image</span>
      </label>
      <div class="item item-divider">
          <span><i ng-click="images.openCamera()" style="padding-right:20px; font-size:200%" class="icon ion-android-camera"></i></span>
          <i class="assertive">You can edit now!</i>
          <button type="submit">Submit</button>
      </div>
  </form>
  <image style="margin-left: auto; margin-right: auto; display: block; border-radius:50%" src="{{user.data.image}}"/>
    <h3>Username: <strong>{{user.data.name}}</strong></h3>
    <h3>Email: <strong>{{user.data.email}}</strong></h3>
  </ion-content>
</ion-view>
