.bar.bar-footer{
    background-color: #2980b9;
    color: white;
}
.bar.bar-footer h1{
    color: white;
}
.button-bar {
 position: absolute;
 left: 50%;
 top: 89px;
 max-width: 90%;
 transform: translate(-50%, -50%);

}
.card{
}
.card .item-divider{
 background-color: #ddd;
}
.scope{
 background-color: #ddd;
}
.editJob{
 color:grey;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 30%;
}
.card a {
    text-decoration:none;
    font-family:Arial;
    display: block;
    width: 90%;
}
